.template-iv5n {
    padding: 10px;
    background-color: #cf0505;
}

.template-iwif {
    color: black;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.template-itsu {
    padding: 10px;
}