<h2 class="screen-align">Basetest</h2>
<div id="template-iv5n" class="">
    <div id="template-iwfn" class="">Insert your text here</div>
</div>
<img id="template-iwif" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+"
class="" />
<div id="template-i5kg" class="row">
    <div id="template-i8zk" class="cell">
        <div id="template-itsu" class="">
            <div id="template-i0wf" class="">Insert your text here</div>
        </div>
    </div>
    <div id="template-i9tv" class="cell">
        <button id="template-iq8b" class="button btn btn-primary">Send</button>
    </div>
</div>